/* Main colors */
/* Gradient colors */
/* Main fonts */
body {
  font-family: "Open Sans", sans-serif;
}

nav {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Alata", sans-serif;
}
nav .logo {
  font-size: 1.5rem;
  color: #975cf6;
  font-weight: bold;
  background: linear-gradient(to right, #975cf6, #35087e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}

header {
  height: 600px;
  background: url("../images/background.svg"),
    linear-gradient(to right, #975cf6, #35087e);
  color: #fff;
  font-family: "Alata", sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
header h1 {
  font-weight: bold;
  margin-bottom: 40px;
}
header svg .st0 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}
header svg .st1 {
  fill: #e6e6e6;
}
header svg .st2 {
  fill: #3f3d56;
}
header svg .st3 {
  fill: #975cf6;
}
header svg .st4 {
  fill: #a0616a;
}
header svg .st5 {
  fill: #2f2e41;
}
header svg .st6 {
  fill: #cccccc;
}

section#filter-menu {
  background: #fff;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
section#filter-menu .filters {
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#filter-menu .filters .filter-switch,
section#filter-menu .filters .list-card-switch {
  position: absolute;
}
section#filter-menu .filters .filter-switch:hover,
section#filter-menu .filters .list-card-switch:hover {
  color: #975cf6;
}
section#filter-menu .filters .filter-switch {
  left: 15px;
}
section#filter-menu .filters .filter-switch a {
  color: #000;
  position: absolute;
  width: 100px;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
}
section#filter-menu .filters .filter-switch a:hover {
  color: #975cf6;
  text-decoration: none;
}
section#filter-menu .filters .list-card-switch {
  right: 15px;
}
section#filter-menu .filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section#filter-menu .filters ul li {
  display: inline-flex;
  padding: 0 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
}
section#filter-menu .filters ul li:hover {
  border-bottom: 2px solid #975cf6;
  color: #975cf6;
}
section#filter-menu .filters ul li.card-color-1:hover {
  color: #5a9cfe;
  border-bottom: 2px solid #5a9cfe;
}
section#filter-menu .filters ul li.card-color-2:hover {
  color: #975cf6;
  border-bottom: 2px solid #975cf6;
}
section#filter-menu .filters ul li.card-color-3:hover {
  color: #e374ab;
  border-bottom: 2px solid #e374ab;
}
section#filter-menu .filters ul li.card-color-4:hover {
  color: #e77681;
  border-bottom: 2px solid #e77681;
}
section#filter-menu .filters ul li.card-color-5:hover {
  color: #67dab8;
  border-bottom: 2px solid #67dab8;
}
section#filter-menu .filters ul li.card-color-6:hover {
  color: #fea75f;
  border-bottom: 2px solid #fea75f;
}

section.offset-filters {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  transition: width 0.3s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
}
section.offset-filters h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}
section.offset-filters i.fa.fa-info-circle {
  position: absolute;
  right: 20px;
}
section.offset-filters a {
  display: block;
  border-bottom: 1px solid #666;
  color: white;
  padding: 34px;
}
section.offset-filters a:hover,
section.offset-filters a:focus {
  background: #333;
}
section.offset-filters:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
section.offset-filters:target {
  width: 20%;
}
section.offset-filters:target + .page-wrap {
  width: 70%;
}
section.offset-filters:target + .page-wrap .close-menu {
  display: block;
}
section.offset-filters:target + .page-wrap {
  width: 80%;
  left: 20%;
}
section.offset-filters.filters .switch-toggle {
  font-size: 0.8rem;
}
section.offset-filters.filters .switch-toggle p {
  margin-bottom: 5px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
}
section.offset-filters.filters .switch-toggle label {
  background: #fff;
  color: #975cf6 !important;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
section.offset-filters.filters .switch-toggle label:first-of-type {
  border-top-left-radius: 0.24rem;
  border-bottom-left-radius: 0.24rem;
}
section.offset-filters.filters .switch-toggle label:last-of-type {
  border-top-right-radius: 0.24rem;
  border-bottom-right-radius: 0.24rem;
}
section.offset-filters.filters .switch-toggle input {
  position: absolute;
  opacity: 0;
}
section.offset-filters.filters .switch-toggle input + label {
  padding: 7px;
  float: left;
  color: #fff;
  cursor: pointer;
}
section.offset-filters.filters .switch-toggle input:checked + label {
  background: #35087e;
  color: #fff !important;
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25) !important;
}

.close-menu {
  display: none;
  z-index: 5;
  position: relative;
}

main {
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

main {
  transition: margin-left 0.5s;
  position: relative;
  padding-top: 50px;
  background: #f4f5f7;
  min-height: 500px;
}
main .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0 -20px;
}
main .cards .mix {
  display: inline-flex;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  main .cards .mix {
    width: calc(100% / 2);
  }
}
@media screen and (min-width: 1024px) {
  main .cards .mix {
    width: calc(100% / 3);
  }
}
main .cards .card {
  margin: 20px;
  padding: 3rem 1.5rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  border: 0;
  transition: all 0.15s ease;
  border-radius: 0.25rem !important;
}
main .cards .card:hover {
  transform: translateY(-10px);
  transition: all 0.15s ease;
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25) !important;
}
main .cards .card h2 {
  font-family: "Alata", sans-serif;
  color: #975cf6;
  background: linear-gradient(to right, #975cf6, #35087e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
main .cards .card.card-color-1 h2 {
  background: linear-gradient(to right, #5a9cfe, #073984);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card.card-color-2 h2 {
  background: linear-gradient(to right, #975cf6, #35087e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card.card-color-3 h2 {
  background: linear-gradient(to right, #e374ab, #6f1b45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card.card-color-4 h2 {
  background: linear-gradient(to right, #e77681, #721c24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card.card-color-5 h2 {
  background: linear-gradient(to right, #67dab8, #11694f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card.card-color-6 h2 {
  background: linear-gradient(to right, #fea75f, #84420a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .cards .card ul {
  list-style: none;
  padding: 0;
}
main .cards .card .github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
main .cards .card .github-corner svg {
  fill: #24292e;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  border-top-right-radius: 0.25rem !important;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  main .cards .card .github-corner:hover .octo-arm {
    animation: none;
  }
  main .cards .card .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
main .cards .card.card-line:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #975cf6;
}
main .cards .card.card-color-1:after {
  background: #5a9cfe;
}
main .cards .card.card-color-2:after {
  background: #975cf6;
}
main .cards .card.card-color-3:after {
  background: #e374ab;
}
main .cards .card.card-color-4:after {
  background: #e77681;
}
main .cards .card.card-color-5:after {
  background: #67dab8;
}
main .cards .card.card-color-6:after {
  background: #fea75f;
}

footer {
  background: #35087e;
  color: #fff;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}
